.about{
    padding: 76px 0 142px;
}
.about .container{
    position: relative;
}
.about-back{
    font-family: 'Karla', sans-serif;
    font-weight: 700;
    font-size: 18px;
    color: #000;
    text-transform: uppercase;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: absolute;
    right: calc(100% + 52px);
    white-space: nowrap;
    top: -55px;
    -webkit-transition: none;
    -o-transition: none;
    transition: none;
}
.about-back::before{
    content: "";
    width: 24px;
    height: 24px;
    background: url("../images/icons/arrow-left.svg") no-repeat center center/contain;
    margin-right: 8px;
    -webkit-transition: .2s;
    -o-transition: .2s;
    transition: .2s;
    position: relative;
    right: 0;
}
.about-back:hover::before{
    right: -5px;
    -webkit-transition: .2s;
    -o-transition: .2s;
    transition: .2s;
}
.about-general__avatar{
    width: 300px;
    height: 300px;
    -o-object-fit: cover;
       object-fit: cover;
    border: 5px solid #F2F2F7;
    border-radius: 50%;
    margin: 0 auto 16px;
}
.about-general__name{
    text-align: center;
    font-weight: 400;
    font-size: 48px;
    color: #081F32;
}
.about-description{
    max-width: 397px;
    margin: 48px auto 0;
}
.about-description__title{
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.15px;
    color: #8E8E93;
    text-align: center;
    margin-bottom: 48px;
}
.about-items{
    list-style: none;
    padding: 0;
    margin: 0;
}
.about-item{
    padding: 9px 0 12px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}
.about-item__name{
    font-weight: 700;
    font-size: 16px;
    line-height: 1.5em;
    letter-spacing: 0.15px;
    color: #081F32;
}
.about-item__value{
    font-size: 14px;
    line-height: 1.43em;
    letter-spacing: 0.25px;
    color: #6E798C;
}
.about-item:not(:last-of-type){
    border-bottom: 1px solid rgba(33, 33, 33, 0.08);
}

@media screen and (max-width: 1440px){
    .about{
        position: relative;
    }
    .about .container{
        position: initial;
    }
    .about-back{
        left: 50px;
        right: unset;
        top: 21px;
    }
}

@media screen and (max-width: 576px){
    .about{
        position: initial;
        padding: 23px 0 85px;
    }
    .about-back {
        position: initial;
        margin-bottom: 77px;
    }
    .about-general__avatar {
        width: 150px;
        height: 150px;
        margin: 0 auto 34px;
    }
    .about-general__name {
        font-size: 32px;
    }
    .about-description {
        max-width: 397px;
        margin: 34px auto 0;
    }
    .about-description__title {
        text-align: left;
        margin-bottom: 16px;
    }
    .about-items {
        padding-left: 16px;
    }
}