.characters{
    padding-bottom: 164px;
}
.characters-wrapper{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}
.character{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: calc(calc(100% - 60px) / 4);
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background: #FFFFFF;
    -webkit-box-shadow: 0px 1px 5px rgb(0 0 0 / 20%), 0px 3px 4px rgb(0 0 0 / 12%), 0px 2px 4px rgb(0 0 0 / 14%);
            box-shadow: 0px 1px 5px rgb(0 0 0 / 20%), 0px 3px 4px rgb(0 0 0 / 12%), 0px 2px 4px rgb(0 0 0 / 14%);
    border-radius: 4px;
    margin-bottom: 24px;
    overflow: hidden;
}
.character:hover{
    -webkit-transform: scale(0.95);
        -ms-transform: scale(0.95);
            transform: scale(0.95);
}
.character:not(:nth-child(4n)){
    margin-right: 20px;
}
.character__avatar{
    height: 168px;
    -o-object-fit: cover;
       object-fit: cover;
}
.character-info{
    padding: 12px 16px;
}
.character-info__name{
    letter-spacing: 0.15px;
    color: rgba(0, 0, 0, 0.87);
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 1px;
    -o-text-overflow: ellipsis;
       text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.character-info__type{
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 0.25px;
    color: rgba(0, 0, 0, 0.6);
}
.characters-more{
    font-weight: 400;
    font-size: 14px;
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    padding: 10px 28px;
    background: transparent;
    margin: 0 auto;
    display: block;
    color: rgba(0, 0, 0, 0.5);
}
.characters-more:hover{
    color: #000;
    border-color: #000;
}

@media screen and (max-width: 992px){
    .character {
        width: calc(calc(100% - 40px) / 3);
    }
    .character:not(:nth-child(4n)) {
        margin-right: 0;
    }
    .character:not(:nth-child(3n)) {
        margin-right: 20px;
    }
}

@media screen and (max-width: 768px){
    .character {
        width: calc(calc(100% - 20px) / 2);
    }
    .character:not(:nth-child(3n)) {
        margin-right: 0;
    }
    .character:not(:nth-child(2n)) {
        margin-right: 20px;
    }
}

@media screen and (max-width: 576px){
    .character {
        width: 100%;
        margin-bottom: 32px;
    }
    .character:not(:nth-child(4n)) {
        margin-right: 0;
    }
    .character__avatar {
        height: 232px;
    }
    .characters {
        padding-bottom: 191px;
    }
}