.header{
    padding: 86px 0 61px;
}
.header .container{
    position: relative;
}
.logo{
    width: 600px;
    height: 200px;
    display: block;
    margin: 0 auto 16px;
}
.search{
    position: relative;
}
.search::before{
    content: "";
    position: absolute;
    width: 24px;
    height: 24px;
    background: url("../../images/icons/search.svg") no-repeat center center/contain;
    left: 16px;
    top: 50%;
    -webkit-transform: translate(0, -50%);
        -ms-transform: translate(0, -50%);
            transform: translate(0, -50%);
}
.search_loading::after{
    content: "";
    position: absolute;
    width: 24px;
    height: 24px;
    background: url("../../images/icons/loader.svg") no-repeat center center/contain;
    right: 16px;
    top: 50%;
    -webkit-transform: translate(0, -50%);
        -ms-transform: translate(0, -50%);
            transform: translate(0, -50%);
    -webkit-animation-name: spin;
            animation-name: spin;
    -webkit-animation-duration: 1000ms;
            animation-duration: 1000ms;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
            animation-timing-function: linear; 
}
.search__field{
    width: 100%;
    line-height: 1.5em;
    font-weight: 400;
    font-size: 16px;
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    padding: 16px 48px;
    outline: none;
    color: #000;
}
.search__field::-webkit-input-placeholder{
    color: rgba(0, 0, 0, 0.5);
}
.search__field::-moz-placeholder{
    color: rgba(0, 0, 0, 0.5);
}
.search__field:-ms-input-placeholder{
    color: rgba(0, 0, 0, 0.5);
}
.search__field::-ms-input-placeholder{
    color: rgba(0, 0, 0, 0.5);
}
.search__field::placeholder{
    color: rgba(0, 0, 0, 0.5);
}
@-webkit-keyframes spin {
    from {
        -webkit-transform: translate(0, -50%) rotate(0deg);
                transform: translate(0, -50%) rotate(0deg);
    }
    to {
        -webkit-transform: translate(0, -50%) rotate(360deg);
                transform: translate(0, -50%) rotate(360deg);
    }
}
@keyframes spin {
    from {
        -webkit-transform: translate(0, -50%) rotate(0deg);
                transform: translate(0, -50%) rotate(0deg);
    }
    to {
        -webkit-transform: translate(0, -50%) rotate(360deg);
                transform: translate(0, -50%) rotate(360deg);
    }
}
.header-login{
    position: absolute;
}
.header-login__login{
    font-weight: 400;
    font-size: 16px;
    border: 1px solid #000;
    padding: 5px 10px;
    border-radius: 8px;
    color: #000;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    opacity: 0.5;
}
.header-login__login::after{
    content: "";
    width: 18px;
    height: 18px;
    background: url("../../images/icons/google.svg") no-repeat center center/contain;
    margin-left: 10px;
}
.header-login__login:hover{
    opacity: 1;
}

@media screen and (max-width: 768px){
    .logo {
        width: 100%;
        height: -webkit-fit-content;
        height: -moz-fit-content;
        height: fit-content;
    }
}

@media screen and (max-width: 576px){
    .header {
        padding: 92px 0 32px;
    }
    .logo {
        width: 100%;
        max-width: 400px;
        height: -webkit-fit-content;
        height: -moz-fit-content;
        height: fit-content;
        margin-bottom: 32px;
    }
}